---
layout: default
---
   <html>
   <body>
      
       <div class="col-md-12">

      <h4 style="color:Teal"> Working papers</h4>
      
     <h5><a href= "/assets/FiscalRules_Chaffa.pdf">Quantitative Exploration of Fiscal Rules for WAEMU Countries</a> (JMP), 2022 </h5>
         <!-- <h5>Quantitative Exploration of Fiscal Rules for WAEMU Countries (JMP), 2022 ,  <a href= "/assets/FiscalRules_Slides_Chaffa.pdf"> Slides</a>  </h5>-->
          
       <p align="justify"> <b>Abstract:</b> The West African Economic and Monetary Union (WAEMU) has integrated capital market and each member is subject to a common fiscal rule. 
          I document significant heterogeneity in government revenue, spending, and debt across WAEMU countries. This paper offers a quantitative analysis of the 
          fiscal rule in this economic and monetary union and characterizes an optimal reform. The theoretical framework is a model of fiscal policy where present-biased 
          governments face shocks to their fiscal needs. The  model features a trade-off between the flexibility for the government to respond to shocks and a commitment 
          to limit the incentive to overborrow. I found that the current uniform 3% deficit limit rule improves the citizenry's welfare for all WAEMU countries compared
          to a counterfactual scenario with no fiscal rule. Country-specific fiscal rules allow for a Pareto improving reform over the current uniform rule.
          Each country's optimal deficit limit depends on the volatility of the shocks to its spending needs and the strength of the political economy frictions
          of the government. By restricting the fiscal rule to be uniform across members, the economic union forgoes 24% of the welfare gains that it could achieve
          with a country-specific fiscal rule.</p> 
      
          <h5><a href="/assets/IBCA_Chaffa.pdf" > International Business Cycle Accounting</a>, 2022</h5>
    <!-- <h5><a href="/assets/IBCA_Chaffa.pdf" > International Business Cycle Accounting</a>, 2022, <a href= "/assets/IBCA_Slides_Chaffa.pdf"> Slides</a>  </h5>-->
     <!--<h5> International Business Cycle Accounting, 2022  </h5>-->
    
      <p align="justify"> <b>Abstract:</b>    I have developed a method that can provide insights to researchers to better specify their quantitative models in international
         business cycle studies. The guidance comes from the application of an accounting procedure based on a prototype model of international growth that includes wedges 
         capturing all the potential frictions and distortions of markets. For each country, I include an efficiency wedge, labor wedge, investment wedge, government wedge,
         preference wedge, and foreign asset wedge. I then demonstrate the method by applying it to the US and Canada during the Great Recession (2007-2008). I found that the
         economic downturns in both countries during this period were primarily due to the US investment wedge, US labor wedge, and US efficiency wedge, with the Canada investment 
         wedge playing a secondary role. These results suggest that the crisis originated in the US and was propagated to Canada.</p> 
         
        <!--<h5>  <p align="justify"> <b>Abstract:</b> We develop a method that can give insights to researchers to better specify their quantitative models in international business cycles studies. The
     guidance comes from the application of accounting procedure that is base on prototype model of international growth model including wedges that captures all the 
     eventual frictions and distortions of markets. For each country, we include efficiency wedge, labor wedge, investment wedge, government wedge, preference wedge
     and foreign asset wedge. We then demonstrate the method by applying to US and Canada during the Great recession (2007-2008). We found that the economic downturns 
     in both countries during this period is primary due to US investment wedge, US labor wedge, US efficiency wedge and secondary is due to Canada investment wedge. 
     Those results suggest that the crisis has started in US and has propagated to Canada.  </p>  </h5>-->
  
        <h4 style="color:Teal">Works in progress</h4>
           <!--<p>  Financial instability, price instability, and inequality  </p>-->
          <!-- <p>Delay and Bribe on Highways: the effect on regional trade integration in West Africa, with <a href="https://idossou-marius-adom.github.io/"> Marius Adom</a> </p>--> 
    
          <h5><a href= "/assets/Delays_Bribes_Chaffa_Adom.pdf">Roadblocks, Time Delays and Bribery on Interstate Roads: the Effects on Regional Trade Integration in West Africa</a>
                                                                                                     , with <a href="https://idossou-marius-adom.github.io/"> Marius Adom</a> </h5>
          
      <p align="justify"> <b>Abstract:</b> It is a well-known fact that regional trade within Africa is low compared to other regions in the world. In this paper, we rely on the Improved 
         Road-Transport Governance reports to construct a novel data set that measures trade-related roadblocks, time delays, and bribes on eight interstate roads in Western Africa between 
         2006 and 2013 to  investigate their effects on bilateral trade in the region. These interstate roads connect three landlocked countries -- Burkina Faso, Niger, and Mali -- to other coastal 
         countries. We document that roadblocks, delays, and bribes are pervasive on the roads. During goods transportation trucks experience up to more than 25 controls, are delayed
         by up to more than 5 hours, and pay between 45 and 115 US dollars bribe. Our empirical analyses show that the delays seriously impede bilateral trade between the connected
         countries while corruption tends to match the ``grease the wheels'' theory.  </p> 
      </div>
     </body>
   </html>
 
