---
layout: default
---
   <html>
   <body>
      
       <div class="col-md-12">

      <h4 style="color:Teal"> Working papers</h4>
      
    <h5><a href= "/assets/FiscalRules_Chaffa.pdf">Quantitative Exploration of Fiscal Rules for WAEMU Countries</a> (JMP), 2022,  <a href= "/assets/FiscalRules_Slides_Chaffa.pdf"> Slides</a>  </h5>
  
       <p align="justify">\vspace{0.2cm} West African Economic and Monetary Union (WAEMU) countries are capital market integrated and design jointly their fiscal and monetary policies. 
          This paper offers a quantitative analysis of the fiscal rule in this economic and monetary union and characterizes an optimal reforms. The theoretical framework used is a model 
          of fiscal policy where present-biased governments face shocks to their fiscal needs. The structure of the model implies a trade-off between flexibility for the government to
          react to shocks and commitment to limit its incentives to overborrow. I documented a significant heterogeneity in government revenue, spending, and debt across WAEMU countries. 
          I found that the current uniform 3\% deficit rule improves the citizens' welfare of all WAEMU countries compared to full discretion. However, country-specific fiscal rules
          would be Pareto improving reform over the current uniform rule either when the governments individually design their rules or when a central authority jointly designs
          the rules for the governments. Each country's optimal deficit limit level is influenced by the volatility of the shocks on it government revenues and
          the level of the present-bias  of the government.</p> 
          
    <h5><a href="/assets/IBCA_Chaffa.pdf" > International Business Cycle Accounting</a>, 2022, <a href= "/assets/IBCA_slides_Chaffa.pdf"> Slides</a>  </h5>
   
    <p align="justify"> We develop a method that can give insights to researchers to better specify their quantitative models in international business cycles studies. The
     guidance comes from the application of accounting procedure that is base on prototype model of international growth model including wedges that captures all the 
     eventual frictions and distortions of markets. For each country, we include -efficiency wedge, labor wedge, investment wedge, government wedge, preference wedge
     and foreign asset wedge. We then demonstrate the method by applying to US and Canada during the Great recession (2007-2008). We found that the economic downturns 
     in both countries during this period is primary due to US investment wedge, US labor wedge, US efficiency wedge and secondary is due to Canada investment wedge. 
     Those results suggest that the crisis has started in US and has propagated to Canada.  </p> 
  
        <h4 style="color:Teal">Works in progress</h4>
           <!--<p>  Financial instability, price instability, and inequality  </p>-->
           <p>Delay and Bribe on Highways: the effect on regional trade integration in West Africa, with Marius Adom</p> 
   </div>
     </body>
   </html>
 
