---
layout: default
---
   <html>
   <body>
      
       <div class="col-md-12">

      <h4 style="color:Teal"> Working papers</h4>
      
    <h5><a href= "/assets/Suddenstops_Afavi.pdf"> Sudden stops, asset prices: the role of financial market participation</a> (JMP), 2021,  <a href= "/assets/Suddenstops_Slides_Afavi.pdf"> Slides</a>  </h5>
  
       <p align="justify">This paper studies the  role of household heterogeneity in the severity of  sudden stops crises and its implications for prudential capital control policy. 
         I use data on sudden stop events and on financial market participation to document that a lower level of  financial market participation is associated with a higher
         drop in asset prices. To explain the role that financial market participation plays in the  drop in asset prices, I  build an equilibrium business cycle model with a 
         collateral constraint and with limited financial market participation.  The heterogeneity in the  accessibility  to the financial market generates income and 
         consumption inequality in the model. The extent to which the limited financial market participation amplifies the drop in asset prices depends on the cyclicality
         of consumption inequality. Consistent with my empirical findings using  household survey data from Mexico, the model generates a drop in consumption inequality during 
         the financial crisis that amplifies the drops in asset prices, output, and consumption.  I also show that the optimal time-consistent debt is  higher in a 
         limited financial market participation economy, which rationalizes the use of capital control in emerging markets.  Finally, my findings suggest that it is possible to address 
         financial instability without raising inequality.</p> 
          
    <h5><a href="/assets/HANK_TANK_Afavi.pdf" > Monetary policy, sticky wages, and household heterogeneity</a>, 2021, <a href= "/assets/HANK_TANK_slides_Afavi.pdf"> Slides</a>  </h5>
   
    <p align="justify"> Can a Two-Agent New Keynesian model, also known as TANK, approximate a Heterogeneous Agents New Keynesian (HANK) model in terms of its 
      aggregate response to a monetary policy shock? In this paper, I show that the answer depends on the source of nominal rigidities. If prices 
      are sticky, the answer is yes, as shown by Debortoli and Gali (2018). If wages are sticky, the answer is no, as shown in this paper. To make 
      this point, I show that the TANK model with only wage rigidities is equivalent, in terms of aggregate variables, to the representative agent 
      New Keynesian model. For TANK with both price and wage rigidities, I show numerically that TANK does not approximate HANK well.  </p> 
  
        <h4 style="color:Teal">Works in progress</h4>
           <p>  Financial instability, price instability, and inequality  </p>
           <p>US repo market and fiscal policy, with Carolyn Sissoko </p> 
   </div>
     </body>
   </html>
 
