---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h5 style="color:Teal;"">Lecturer, <a href="https://sceco.umontreal.ca/english/home/">University of Montreal</a></h5>
    <p> Data analysis for economists (undergraduate), Fall 2019, Winter 2020, Fall 2020 </p>
     <p> Introduction to macroeconomics (undergraduate), Winter 2021 </p>
   </div>
  <div class="col-md-12">
  <h5 style="color:Teal">Teaching Assistant,  <a href="https://sceco.umontreal.ca/english/home/">University of Montreal</a></h5>
  <p> Macroeconomics (Ph.D.), Fall 2019,  Fall 2020, Winter 2021  </p> 
  <p> Advanced Macroeconomics (Ph.D.), Winter 2020, Winter 2021 </p> 
  <p> Macroeconomics ( Msc), Fall 2020, Fall 2021 </p> 
  <p> Quantitative methods for economists (Undergraduate), Fall 2020 </p> 
   <p> Principle of economics (Undergraduate), Summer 2018, Fall 2018, Winter 2019 </p> 
  </div>
  <div class="col-md-12">
  <h5 style="color:Teal">Teaching Assistant,  <a href="https://africanschoolofeconomics.com/"> African School of Economics </a> </h5>
  <p> Macroeconomics (Msc), Winter 2016,  </p> 
  </div>

</div>
  
  


